:root {
    --vermelho: #da1721;
    --preto: #141414;
    --rosa: #e11584;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body {
    background: #FDA4BA;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: Courgette;
    font-size: 40px;
    margin-left: 10px;
}

header nav a {
    text-decoration: none;
    color: var(--preto);
    margin-right: 10px;

}

header nav a:hover{
    color: var(--rosa);
    background-color:#141414;
    padding: 5px;
}

/*filme principal*/

.filme-principal {
    font-size: 18px;
    background: linear-gradient(rgba(253, 253, 253, 0.5), rgba(0, 0, 0,.50) 100%), url('../img/Bridgerton-netflix-first-poster.jpg');

    height: 400px;
    background-size: cover;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 40%;
    width: fit-content;
    background-color: rgba(0,0,0,50%);
    color: white;
    font-weight: bold;
}

.titulo{
    font-size: 32px;
    font-family: 'Cinzel Decorative', cursive;
    margin-top: 5%;
    color: var(--rosa);
}

.botao {
    background-color: rgba(0,0,0,50%);
    border: none;
    color: white;

    padding: 10px 20px;
    margin-top: 2%;

    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.15s;
    margin-left: 10px;
}

.botao:hover{
    background-color: white;
    color: #141414;
}

.botao i {
    margin-right: 8px;
}

.botao a:visited {
    text-decoration: none;
    color: var(--rosa);
}

.container {
    margin-left: 10px;
}

.box-filme {
    height: 10%;
    width: 10%;
}
.carrosel-filmes {
    margin-top: 1%;
}