@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    header .logo{
        font-size: 30px;
        text-align: center;
    }

    .botao {
        width: 100px;
        height: 80px;  
        width: fit-content;
    }
    .filme-principal {
        height: fit-content;
    }
    .filme-principal .descricao {
        max-width: 70%;
        margin: 1px;
    }
    .titulo {
        margin: 1%;
        font-size: 20px;

    }

}